<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>后台会员添加</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 会员管理 <span class="c-gray en">&gt;</span> 会员添加   <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<hr />
<center>
<form action="__URL__/huiadd" method="post">
  <table>
    <tr>
      <td>昵称</td>
      <td><input type="text" name="login_nickname" /></td>
    </tr>
    <tr>
      <td>密码</td>
      <td><input type="password" name="login_pwd" /></td>
    </tr>
    <tr>
      <td>确认密码</td>
      <td><input type="password" name="login_qpwd" /></td>
    </tr>
    <tr>
      <td>手机号</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>年龄</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>学历</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>收入</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>车产</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>房产</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>车贷</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>房贷</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>公司行业</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>工作城市</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>公司规模</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>工作时间</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>职位</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>账户余额</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td>头像</td>
      <td><input type="text" name="login_phone" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="添加" /></td>
    </tr>
  </table>
</form>
</center>
</body>
</html>