<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/admin/lib/html5.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/admin/http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加用户</title>
</head>
<body>
    <div class="pd-20">
        <form action="add" method="post" class="form form-horizontal" id="form-member-add">


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>最新档期</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder=""  name="upay_name" >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>计划介绍</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_content" >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>投标范围</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder=""   name="upay_range" >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>收益处理方式及预期年收益</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_income"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>锁定期</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_lock"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>退出日期</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_endtime"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>加入条件</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_joincondition"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>加入上限</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_upper"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>加入开始时间</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_statime"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>到期退出方式</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_way"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>提前退出方式</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_ecpire"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>费用</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_cost"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>保障方式</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_guarantee"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>服务协议</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_agreement"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>预期年收益</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_annua"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>理财期限</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_periodss"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>起头金额</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_stamoney"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>计划金额</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_paymoney"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>理财开始时间</label>
                <div class="formControls col-5">
                    <input type="text" class="input-text" value="" placeholder="" name="upay_financialstime"  >
                </div>
                <div class="col-4"> </div>
            </div>


            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>类型选择(ABC)</label>
                <div class="formControls col-5">
                    <select class="input-text" value="" placeholder="" name="up_id"  >
                    <option value="1">U 计划A(3个月)</option>
                    <option value="2">U 计划B(6个月)</option>
                    <option value="3">U 计划C(12个月)</option>
                </select>
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <div class="col-9 col-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
    <footer class="footer">
        <p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>Copyright &copy;2015 H-ui.admin v2.3 All Rights Reserved.<br>
            本后台系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
    </footer>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>
</body>
</html>